---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("recipies");
const currentPath = `${Astro.url.pathname}/`;
---

<Layout title="Recipies Table of Contents">
  <div class="description">
    <h1 class="text-gradient">Table of Contents</h1>
    This is where best practices and common patterns are documented. If you'd like
    to make a contribution feel free to make a pull request
    <br /><br />
    <a class="primary-btn" href="https://github.com/Morzaram/elixir_desk/pulls"
      >Add best practice</a
    >
    <div class="description">
      <h2>Phoenix</h2>
      {
        posts
          .filter((p) => p.slug.includes("phoenix/"))
          .map((post) => {
            return (
              <li class="">
                <a href={currentPath + post.slug}>{post.data.title}</a>
              </li>
            );
          })
      }
    </div>
    <div class="description">
      <h2>Ecto</h2>
      {
        posts
          .filter(
            (p) => p.slug.includes("ecto/") && p.slug.split("/").length === 2
          )
          .map((post) => {
            return (
              <li>
                <a href={currentPath + post.slug}>{post.data.title}</a>
              </li>
            );
          })
      }
      <div class="description">
        <h3>Advanced</h3>
        {
          posts
            .filter((p) => p.slug.includes("ecto/advanced/"))
            .map((post) => {
              return (
                <li>
                  <a href={currentPath + post.slug}>{post.data.title}</a>
                </li>
              );
            })
        }
      </div>
    </div>
  </div>
  <style>
    /* hover color */
    a:hover {
      background-color: #f5f5f5;
      color: #000;
    }
  </style>
</Layout>
