---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import CardT from "../components/CardT.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Elixir Desk</span></h1>
    <p class="description">
      Are you looking to master Elixir and its libraries? You've come to the
      right place. At Elixir Desk, we believe in the power of open source
      knowledge and strive to provide the best resources for learning Elixir.
      <br /><br />
      Our mission is to help developers like you learn and grow with Elixir. Whether
      you're a beginner looking to get started with the language, or an experienced
      developer looking to expand your knowledge, we have something for everyone.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Phoenix Recipies"
        body="Learn the best practices with Phoenix and Ecto"
      />
      <!-- <Card
        href="https://astro.build/integrations/"
        title="Library Interviews"
        body="A list of library creators and maintainers where we discuss and implement their library"
      /> -->
      <Card
        href="/resources"
        title="Blogs & Resources"
        body="Explore a galaxy of community-built starter themes."
      />
      <!-- <Card
        href="https://astro.build/chat/"
        title="Contibutor Wall"
        body="Wall of contributors to content pieces on Elixir Desk"
      /> -->
      <Card
        href="/community"
        title="Elixir Community"
        body="A list of all of all official Elixir online communities"
      />
      <Card
        href="https://astro.build/chat/"
        title="Real Elixir Apps & Repos"
        body="Come say hi to our amazing community. ❤️"
      />
    </ul>
  </main>
</Layout>
