---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import CardT from "../components/CardT.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <br /> <span class="text-gradient">Elixir Desk</span></h1>
    <p class="description">
      Are you looking to master Elixir and its libraries? You've come to the
      right place. At Elixir Desk, we believe in the power of open source
      knowledge and strive to provide the best resources for learning Elixir.
      <br /><br />
      Our mission is to help developers like you learn and grow with Elixir. Whether
      you're a beginner looking to get started with the language, or an experienced
      developer looking to expand your knowledge, we have something for everyone.
    </p>
    <ul role="list" class="flex flex-col space-y-2">
      <Card
        href="/recipies"
        title="Recipies"
        body="Learn the best practices of Elixir and Libraries"
      />

      <Card
        href="/resources"
        title="Resources"
        body="Videos and Articles by the Elixir Community "
      />

      <Card
        href="/community"
        title="Elixir Community"
        body="A list of all of all official Elixir online communities"
      />
      <!-- <Card
        href="https://astro.build/chat/"
        title="Real World Projects"
        body="Come say hi to our amazing community. ❤️"
      /> -->
    </ul>
  </main>
</Layout>
